.placing{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.placingtop{
  width:100%;
  height: 1rem;
  background-color:#3190e8;
  display: flex;
  justify-content: space-between;
  p{
    width: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size:0.4rem;
    font-weight: bold;
  }
  div{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:0.35rem;
    font-weight: bold;
  }
}