*{
  margin: 0;
  padding:0;
}
.bxoaaaa{
  flex: 1;
  height:100%;
  display: flex;
  flex-direction: column;
}
.shangtop{
  flex: 1;
 background-color: blue;
 overflow: auto;
}
.xiaBox{
  width:100%;
  height: 1rem;
  background-color: green;
}

